.upcomings {
    background-color: rgb(247, 243, 243);
    padding: 40px 0;

}

.upcomings-top  {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-around;
}

.upcomings-top p{
    font-size: 24px;
}

.upcomings-top img {
    width: 20px;
    margin-right: 10px;
}


.upcomings-top a {
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
    color: black;
}

.upcomings-top a:hover {
    text-decoration: underline;
    color: blue;
}

.upcomings-middle {
    width: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}