* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #026670;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    margin-left: 10%;
}

.navbar {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-right: 8%;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
}