.ucard {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 31%;
    padding: 20px 0;

}

.bottom-p1 {
    font-weight: 600;
}

.bottom-p1:hover {
    cursor: pointer;
    color:green
}

.bottom-p2 {
    color: orange;
    font-weight: 600;
}


.bottom-p3 {
    color: grey;
}

.bottom-p3:hover {
    cursor: pointer;
    color:green
}

.view {
    width: 15px;
}

.event-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ucard img {
    transition: all .4s ease-in-out;
    margin-bottom: 15px;
}

/* .bezdim {
    display: flex;
    align-items: center;
} */

.ucard img:hover {
    transform: scale(1.05);
}